

.title{
    background-color: purple;
    text-align: center;
    margin-bottom: 75px;
}
.titleSlide{
    height: 685px;
    width: 1119px;
}

.comicTitle{
    color: yellow;
    font-size: 50px;
    margin-bottom: 50px;
}

.audioSec{
    display: flex;
    justify-content: center;
}

.bgmText{
    font-family: "Comic Sans MS";
    padding-right: 50px;
    color: purple;
}

.audioControl{
    margin: auto;
}    
.scenery{

    align-self:center;
    border: 10px ridge grey;
    border-radius: 10px;
    height: 670px;
    width: 1119px;
    overflow-x: scroll;
    overflow-y:hidden;

    height: 690px;
    width: 1119px;
    overflow-x: scroll;
    overflow-y: hidden;

    display: flex;
    justify-content: flex-start;
    max-width: 100vw;
    align-items: center;
    margin:auto;
    margin-top:2%;
  
}

.scenery::-webkit-scrollbar{
    display: none;
}

.scenery svg{
    min-width: 70rem;
}

.divIntroSlide {
    padding-top: 24px;
}

.instruction{
    padding-left: 10%;
    padding-bottom: 5%;
    width: 900px;
    height: 500px;
}

.ground{
    padding-top:70px;
    width:1119px;
}
.divFirstSlide {
    padding-top: 64px;
    width: 1366px;
    height: 768px;
}

.slide1{
    width:100%;
    height:100%;
}
.divSecondSlide {
    padding-top: 165px;
    width: 1500px;
    height: 650px;
}
.divThirdSlide {
    padding-top: 74px;
    width: 1500px;
    height: 650px;
}

.divFourthSlide{
    padding-top:110px;
    width: 1500px;
    height: 650px;
}

.divFinalSlide {
    padding-top: 152px;
    width: 1500px;
    height: 650px;
}


.MainCharacter{
    position: absolute;
    left: 85px;
    top: 480px;
}

